<!DOCTYPE html>
<html>

<head>
	<title>Cibansa</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/4f6a4b08efdad6bb29f9cc801f5c07e263b39907/devicon.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/quill/1.2.4/quill.snow.min.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>

<body>

	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div id="mobileContainer">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	          <span class="sr-only">Toggle navigation</span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	        </button>
				<a class="navbar-brand" href="index.html">cibansa</a>
			</div>
			<div class="navbar-collapse collapse navbar-right">
				<ul class="nav navbar-nav">
					<li><a href="#" data-toggle="modal" data-target="#signIn"><i class="fa fa-lock" aria-hidden="true"></i> login</a></li>
				</ul>
			</div>
		</div>
	</div>

	<!-- signIn modal -->
  <div class="modal fade" id="signIn" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body form-layout">
        	<button type="button" class="close" data-dismiss="modal">&times;</button>
        	<div class="social">
            <h3 class="modal-title">login</h3>
            <p class="text-center">with your social account</p>
            <div class="row">
            	<div class="col-xs-4">
            		<a href="#" class="btn btn-default gplus"><i class="fa fa-google-plus" aria-hidden="true"></i> <span class="visible">google+</span></a>
            	</div>
            	<div class="col-xs-4">
            		<a href="#" class="btn btn-default fb"><i class="fa fa-facebook" aria-hidden="true"></i> <span class="visible">facebook</span></a>
            	</div>
            	<div class="col-xs-4">
            		<a href="#" class="btn btn-default linked"><i class="fa fa-linkedin" aria-hidden="true"></i> <span class="visible">linked in</span></a>
            	</div>
            </div>
						<hr class="style17">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Email or username">
          </div>
            
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Password">
          </div>
            
          <div class="checkbox">
				    <label><input type="checkbox"> Keep me signed in</label>
				  </div>
          <a href="#" class="right">Forgot your password?</a>

          <div class="login-btn">
            <button type="button" class="btn btn-primary btn-block" style="margin-top: 1em;margin-bottom: 1em;">Login</button>
            <div class="row">
            	<div class="col-md-6">
            		<a href="#" id="toggle_signUp">Not a member? Sign Up</a>
            	</div>
            	<div class="col-md-6">
            		<a href="#" id="toggle_signUp">Forgot password</a> <br>
            		<a href="#">Problem loging in?</a>
            	</div>
            </div>
          </div>
        </div>
      </div>      
    </div>
  </div>
  <!-- signUp modal -->
  <div class="modal fade" id="signUp" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body form-layout">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        	<h3 class="modal-title signup-title">signup</h3>
          <div class="form-group">
            <input type="text" name="" class="form-control user-name" placeholder="Enter Name">
          </div>
          <div class="form-group">
            <input type="number" name="" class="form-control" placeholder="Enter Mobile No.">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Email id">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Create Password">
          </div> 

          <div class="login-btn">
            <button type="button" class="btn btn-primary btn-block" style="margin-top: 1em;margin-bottom: 1em;">signup</button>
            <div class="row">
            	<div class="col-md-6">
            		<a href="#" id="toggle_logIn">Already member? Login</a>
            	</div>
            </div>
          </div>
        </div>
      </div>      
    </div>
  </div>

	<section id="green-header" class="body-container">
		<div class="container">
		</div>
	</section>

	<section id="question">
		<div class="container">
			<div class="row">
				<div class="col-xs-8">
					<h3 class="filter" style="color: #fff">post a question</h3>
				</div>
			</div>

			<div class="well">
				<div class="selection">
					<form>
						<div class="row">
							<div class="col-md-3">
								<select class="form-control">
									<option>Select category</option>
									<option>category 1</option>
									<option>category 2</option>
								</select>
							</div>
							<div class="col-md-3">
								<select class="form-control">
									<option>Select topic</option>
									<option>topic 1</option>
									<option>topic 2</option>
								</select>
							</div>
						</div>
					</form>
				</div>
				<div id="editor-container"></div>
				<div class="post clearfix">
					<a href="#" class="btn btn-purple pull-right">post a question</a>
				</div>
			</div>
		</div>
	</section>

	<footer id="footerwrap">
		<div class="container">
		 	<div class="row">
		 		<div class="col-xs-6">
		 			<p class="cap">Cibansa &copy; 2017. all rights reserved</p>
		 		</div>
		 		<div class="col-xs-6">
		 			<div class="contact-info">
		 				<div class="social-btn">
		 					<a href="" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							<a href="" class="tw"><i class="fa fa-twitter" aria-hidden="true"></i></a>
							<a href="" class="gp"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
							<a href="" class="li"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
		 				</div>
		 			</div>
		 		</div>
		 	</div>
		</div>
	</footer>

	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/quill/1.2.4/quill.min.js"></script>
	<script src="js/main.js"></script>
	<script type="text/javascript">
		var quill = new Quill('#editor-container', {
		  modules: {
		    toolbar: [
		      [{ header: [1, 2, 3, 4, 5, 6, false] }],
		      ['bold', 'italic', 'underline'],
		      ['image', 'code-block'],
		      [{ 'list': 'ordered'}, { 'list': 'bullet' }],
		      [{ 'script': 'sub'}, { 'script': 'super' }],
		  		[{ 'indent': '-1'}, { 'indent': '+1' }],
		  		[{ 'color': [] }, { 'background': [] }],
				  [{ 'align': [] }],
				  ['clean'] 
		    ]
		  },
		  placeholder: 'Start writing..',
		  theme: 'snow'
		});
	</script>

</body>

</html>